name: Release
on:
  push:
    branches-ignore:
      - "**"
    tags:
      - "v*.*.*"
permissions:
  contents: write
jobs:
  update-semver:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: haya14busa/action-update-semver@v1
        with:
          major_version_tag_only: true
      - name: Create release
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
